<!-- Heading -->
<div class="container">
  <hr class="horizontal-line" />
  <h1 class="custom-heading">Product Order List</h1>
  <hr class="horizontal-line" />
</div>


<!-- Select Product -->
<div class="container mt-5">
  <table class="table table-bordered">
    <thead class="thead-light text-center">
      <tr>
        <th scope="col" class="w-33">Product Name</th>
        <th scope="col" class="w-33">Quantity</th>
        <th scope="col" class="w-33">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders; let i = index">
        <td>
          {{ order.product }}
        </td>
        <td>
          <ng-container *ngIf="order.quantity === null">
            <select
              class="form-control"
              [(ngModel)]="order.quantity"
              [disabled]="!order.product"
            >
              <option value="" disabled selected>Choose Quantity</option>
              <option *ngFor="let q of quantities" [value]="q">{{ q }}</option>
            </select>
          </ng-container>
          <ng-container *ngIf="order.quantity !== null">
            {{ order.quantity }}
          </ng-container>
        </td>
        <td>
          <button
            class="btn btn-dark"
            (click)="addQuantity(i)"
            [disabled]="!order.product || order.quantity === null"
          >
            Add
          </button>
        </td>
        <td>
          <button class="ml-2"  (click)="deleteFromOrderList(order.product)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <select class="form-control" (change)="onProductSelect($event)">
            <option value="" disabled selected>Choose Product</option>
            <option *ngFor="let product of availableProducts" [value]="product">
              {{ product }}
            </option>
          </select>
        </td>
        <td>
          <input type="text" class="form-control" disabled />
        </td>
        <td>
          <button class="btn btn-dark" disabled>Add</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>



<!-- Show Orders Button -->
<div class="container text-center" (click)="showOrders()">
  <button class="btn btn-primary mt-5">Show Order</button>
</div>

<!-- Show orders table -->
<div class="container mt-5" *ngIf="showOrdersFlag">
  <table class="table table-bordered">
    <tbody>
      <tr *ngFor="let order of orders; let i = index">
        <td>
          {{ order.product }}
        </td>
        <td>
            {{ order.quantity }}
        </td>
      </tr>
    </tbody>
  </table>

    <h1 *ngIf="orders.length===0" class="custom-heading">Order List is Empty</h1>
</div>

<!-- What is my order -->
<div class="container text-center" (click)="speakOrders()">
  <button class="btn btn-primary mt-5">What is my Order?</button>
</div>